/* Custom Font Integrations */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* Soleil Font*/
@font-face {
  font-family: 'Soleil';
  src: url('font/soleilbold-webfont.woff2') format('woff2'),
       url('font/soleilbold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: bold;

}

@font-face {
  font-family: 'Soleil';
  src: url('font/soleilbook-webfont.woff2') format('woff2'),
       url('font/soleilbook-webfont.woff') format('woff');
  font-weight: 500;
  font-style: medium;

}

@font-face {
  font-family: 'Soleil';
  src: url('font/soleillight-webfont.woff2') format('woff2'),
       url('font/soleillight-webfont.woff') format('woff');
  font-weight: 300;
  font-style: light;

}

@font-face {
  font-family: 'Soleil';
  src: url('font/soleilregular-webfont.woff2') format('woff2'),
       url('font/soleilregular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Objectivity';
  src: url('font/objectivity/objectivity-black-webfont.woff2') format('woff2'),
       url('font/objectivity/objectivity-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: black;

}

@tailwind base;
@tailwind components;
@tailwind utilities;

.navlinks {
  @apply container text-base md:text-lg text-gray-800 dark:text-gray-100 mx-6 my-6;
}

.selected {
  @apply md:border-b md:border-green-500 text-green-500 mx-6 py-6 text-base md:text-lg;
}

.navlist {
  @apply border-b md:border-none border-gray-200 dark:border-gray-700 md:space-x-6;
}